html
  head
    title wwg (where we go)
    meta(name='viewport' content='width=device-width, user-scalable=no')
    base(href='/')

    script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/angular-resource/1.6.5/angular-resource.js')

    link(rel='stylesheet' href='/vendor.css')
    link(rel='stylesheet' href='/minimalist.css')

  body(ng-app='app')
    .mn-layout-container
      h2 where we go?

    div(ui-view='main')

    //- section
      .mn-layout-container
        p The restaurants most voted are

        .mn-layout-row.align-center.trending
          .mn-card.padding.flex test 1
          .mn-card.padding.flex test 2
          .mn-card.padding.flex test 3

    script(src='/vendor.js')
