section
  .mn-layout-container
    p Choose restaurants that you want to go
  //- .horizontal-scroller
    .mn-card.padding test 1
    .mn-card.padding test 2
    .mn-card.padding test 3
    .mn-card.padding test 4
    .mn-card.padding test 5
    .mn-card.padding test 6
    .mn-card.padding test 7
    .mn-card.padding test 8
    .mn-card.padding test 9
    .mn-card.padding test 10
    .mn-card.padding test 11
    .mn-card.padding test 12
    .mn-card.padding test 13
    .mn-card.padding test 14
    .mn-card.padding test 15
    .mn-card.padding test 16
    .mn-card.padding test 17
    .mn-card.padding test 18
    .mn-card.padding test 19
    .mn-card.padding test 20
