section
  .mn-layout-container
    p First, identify yourself, or <a ui-sref="signup">signup</a>

    mn-form(submit='login.authenticate()')
      .mn-layout-column.mn-layout-sm-row
        mn-email.flex(placeholder='Email' required ng-model='login.credentials.email')
        mn-password.flex(placeholder='Password' required ng-model='login.credentials.password')

      .mn-layout-row.align-end
        mn-button.raised(submit) Login
